
.container {
  width: 100vw;
  height: 100vh;
  /* vh stands for viewport height, which takes up the full height of the viewport */
  display: flex;

}

.nps-img{
  border-radius: 50%;
  width: 50px;
  margin-right: 10px;
}

.hero-img{
height: 400px;
width:100%;
}

.search-for-park{
  height: ;
  background-color: black;
  color: white;
  margin:none;
}

h3{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.arrow-drop-down{

 display: flex;
}
